# Игнорируем локальное виртуальное окружение
.venv/

# Игнорируем базу данных
postgres_data/

# Игнорируем кеши Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем Git
.git/
.gitignore

# Игнорируем настройки IDE
.vscode/
.idea/

# Игнорируем секреты
.env